{
	"hooks": [{
		"name": "Diaspora",
		"branch": "dev",
		"action": {
			"cmd": "ls",
			"parms": ["pipo"],
			"pwd": "."
		}
	}],
	"slack": {
		"webhook_url": "https://hooks.slack.com/services/T040LJ90Y/B04U5X/ZdcHYgx7XSsMBza5IG0kdcHYgFYPl",
		"channel": "#deploys",
		"username": "Deployr",
		"icon_url": "",
		"icon_emoji": ":computer:"
	}
}
